html
	.aside
		ul.aside-menu
			li.active LOREM IPSUM
			li
				a(href='#') DONEC TINCIDUNT LAOREET
			li
				a(href='#') VESTIBULUM ELIT
			li 
				a(href='#') ETIAM PHARETRA
			li 
				a(href='#') PHASELLUS PLACERAT
			li 
				a(href='#') CRAS ET NISI VITAE ODIO
		h2 OUR OFFICES
		p#map
			script(src="js/code.js")
			script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5ZktMC3dl7IF8xlloY6mcZjyfDqn2W2w&callback=initMap")