html
	.aside
		ul.aside-menu
			li.active LOREM IPSUM
			li
				a(href='#') DONEC TINCIDUNT LAOREET
			li
				a(href='#') VESTIBULUM ELIT
			li 
				a(href='#') ETIAM PHARETRA
			li 
				a(href='#') PHASELLUS PLACERAT
			li 
				a(href='#') CRAS ET NISI VITAE ODIO
		h2 OUR OFFICES
		p 
			script(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d197.13223970401427!2d-122.50872516285703!3d37.76388202940161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1519003652096" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)