html
	.section
		.blockquote
			p “QUISQUE IN ENIM VELIT, AT DIGNISSIM EST. NULLA UL CORPER, DOLOR AC PELLENTESQUE PLACERAT, JUSTO TELLUS GRAVIDA ERAT, VEL PORTTITOR LIBERO ERAT.”
			.cite John Doe, Lorem Ipsum
	p  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	p Donec ac metus vel dui aliquet sodales nec a velit. Proin erat nisl, blandit id bibendum sit amet, sollicitudin id purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat nunc, adipiscing quis pulvinar et.
	p Donec nisl magna, interdum id mattis vel, ullamcorper ac nisi. Cras enim elit, cursus vitae scelerisque facilisis, rhoncus et tortor. Curabitur in magna elit. Integer eu arcu leo. Ut ipsum dui, faucibus vel molestie ultrices, feugiat non dolor. Cras interdum metus at turpis vestibulum auctor. Cras vel tortor leo, quis vestibulum tortor. Nunc enim urna, adipiscing at pellentesque ut, condimentum at eros. Phasellus tincidunt vehicula justo. Nulla facilisi. Quisque quis nibh at odio tincidunt ullamcorper eget eget enim. Curabitur elementum porttitor lorem, vitae elementum velit cursus at.
		.figure
			img(src="images/sample.png" width="320" height="175" alt="")
			img(src="images/sample.png" width="320" height="175" alt="")
		h2 OUR TEAM
		.team-row
			.figure
				img(src="images/sample.png" width="96" height="96" alt="")
				.figcaption John Doe<br>
					span ceo
			.figure
				img(src="images/sample.png" width="96" height="96" alt="")
				.figcaption Saundra Pittsley<br>
					span team leader
		.team-row
			.figure
				img(src="images/sample.png" width="96" height="96" alt="")
				.figcaption Ericka Nobriga<br>
					span art director
			.figure
				img(src="images/sample.png" width="96" height="96" alt="")
				.figcaption Cody Rousselle <br>
					span senior ui designer